/* app css stylesheet */

body{
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.menu {
  list-style: none;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li > a{
  width: 100px;
  text-decoration: none;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
footer {
  color:black;
  clear:both;
  text-align:center;
  margin-bottom: 10px;
}
nav {
  margin-top: 10px;
  color:black;
  text-align:center;
  clear:both;
}

#googleMap {
  width: 100%;
  height: 400px;
  background-color: #CCC;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.hidden {
  display: none;
}
.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}
.panel.panel-default {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.message {
  padding: 15px;
  margin: 0;
}

input{
  font: 13px "sans-serif";
}

div.background
{
  height: 100%;
}
div.transbox
{
  border: 1px solid white;
  background-color: #ffffff;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox p
{
  margin: 5%;
  font-weight: bold;
}

.image{
  padding: 10px;
}
.container{
  width: 100%;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom: 50px;
}
.movie{
  margin: 20px;
}

.projects{
  margin-left: 40px;
}

#map_container{
  position: relative;

}
#map{
  height: 0;
  overflow: hidden;
  padding-bottom: 22.25%;
  padding-top: 30px;
  position: relative;
  border: 1px solid black;
  border-radius: 20px;
}

#demo{
  width: 50%;
  height: 100%;
  float: left;
}

#myChart{
 width: 50%;
  height: 100%;
  float: right;
  align-content: center;
}