<div class="projects">
    <h1 align="center">Projects</h1>
</div>

<div align="center">
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/2y9TlY0kfT8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/lPXsEGE2w9o" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/eNUcK82Whn0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/6eGUz05zzYU" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/YNNz934NnzU" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="movie">
        <iframe width="80%" height="480" src="https://www.youtube.com/embed/Wv6CdPGggg4" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

